<!-- #region signedInMenu -->
<ion-menu id="signedInMenu"
          [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu(signed in)
        <h3>{{(loginState$ | async).displayName}}</h3>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- App Pages -->
    <ion-list>
      <ion-list-header>
        App Pages
      </ion-list-header>
      <button ion-item
              menuClose
              *ngFor="let p of viewAppPages"
              (click)="viewOpenPage(p)">
        <ion-icon item-left
                  [name]="p.icon"
                  [color]="viewIsActive(p)"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <!--  Signed In Pages -->
    <ion-list>
      <ion-list-header>
        Signed In Pages
      </ion-list-header>
      <button menuClose
              ion-item
              *ngFor="let p of viewSignedInPages"
              (click)="viewOpenPage(p)">
        <ion-icon item-left
                  [name]="p.icon"
                  [color]="viewIsActive(p)"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- #endregion -->

<!-- #region signedOutMenu -->
<ion-menu id="signedOutMenu"
          [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu(signed out)
        <h3>{{(loginState$ | async).displayName}}</h3>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- App Pages -->
    <ion-list>
      <ion-list-header>
        App Pages
      </ion-list-header>
      <button ion-item
              menuClose
              *ngFor="let p of viewAppPages"
              (click)="viewOpenPage(p)">
        <ion-icon item-left
                  [name]="p.icon"
                  [color]="viewIsActive(p)"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <!-- Signed Out Pages -->
    <ion-list>
      <ion-list-header>
        Signed Out Pages
      </ion-list-header>
      <button menuClose
              ion-item
              *ngFor="let p of viewSignedOutPages"
              (click)="viewOpenPage(p)">
        <ion-icon item-left
                  [name]="p.icon"
                  [color]="viewIsActive(p)"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- #endregion -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage"
         #content
         swipeBackEnabled="false"></ion-nav>